.project-container {
    font-family: Arial, Helvetica, sans-serif;
}

.project-container h3 {
    color: var(--th-grey-one);
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.project-content {
    color: var(--th-white);
}

.project-content h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.project-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.project-thumbnail {
    height: 20vh;
    width: auto;
    align-self: center;
    padding: 12px 0;
    border-radius: 8px;
}

.project-link {
    text-decoration: none;
    color: var(--th-white);
}

.project-link :hover {
    color: var(--th-blue-one);
}

.tech-chips {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.project-tech-chip {
    padding-right: 8px;
    padding-bottom: 8px;
}