.bio-container {
    display: flex;
    flex-flow: column wrap;
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.bio-container img {
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}

.bio-container h1 {
    margin: 0;
    padding: 0;
    color: var(--th-blue-one);
}

.bio-container h2 {
    margin: 0;
    padding: 0;
    color: var(--th-white)
}

.bio-container p {
    color: var(--th-grey-two)
}