.navbar-wrapper {
    background-color: black;
    color: white;
    width: 100%;
    min-height: 48px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.navbar-left-container {
    display: flex;
    flex: 20%;
    justify-content: space-evenly;
    align-content: left;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-center-container {
    display: flex;
    flex: 30%;
}

.navbar-right-container {
    display: flex;
    flex: 50%;
    justify-content: space-evenly;
    align-content: right;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-right-container a {
    text-decoration: none;
    color: white;
}

.navbar-right-container a:hover {
    color: cyan;
}