.certificate-container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.certificate-container h3 {
    color: var(--th-grey-one);
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.certificate-content {
    color: var(--th-white);
}

.certificate-content h4 {
    padding: 0;
    margin: 0;
    padding-top: 8px;
    font-size: 20px;
}

.certificate-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.certificate-link {
    text-decoration: none;
    color: var(--th-white);
    transition: 0.3s;
}

.certificate-link :hover {
    color: var(--th-blue-one);
}

.tech-chips {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.certificate-tech-chip {
    padding-right: 8px;
    padding-bottom: 20px;
}