.experience-container {
    font-family: Arial, Helvetica, sans-serif;
}

.experience-container h3 {
    color: var(--th-grey-one);
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.experience-content {
    color: var(--th-white);
}

.experience-content h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.experience-content h5 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.experience-content p {
    font-size: 16px;
}

.experience-bulletpoint-list {
    list-style-type: circle;
}

.experience-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.experience-info img {
    height: 10vh;
    width: 10vh;
}

.experience-left {
    width: 67%;
}

.experience-right {
    width: 33%;
}

.tech-chips {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.experience-tech-chip {
    padding-right: 8px;
}