.portfolio-container {
    background-image: url("./assets/background-square-blur25-dark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    color: white;
}